.about {
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  font-weight: bold;
  font-size: 16.5px;
}

.about-tabs {
  margin: 0 auto; 
  padding:30px;
  list-style: none;
  text-align: center; 
  border-bottom: 2px solid green;
}

.about-tabs li {
  display: inline-block; 
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 5px; 
  background-color: #fbf8f8;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 8px;
  font-weight: bold;
}

.about-tabs li:hover {
  background-color: rgb(0, 182, 92, .9);
  box-shadow: 0px 2px 5px rgba(4, 4, 4, 0.9);
  color: rgb(4, 4, 4);
}

.about-header, .about-subheader {
  color: green;
}

.about-header {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-subheader {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  color: #010101;
}

.about-tech-stack {
  list-style-type: none;
  padding: 0;
}

.about-tech-stack div {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px .5px 1px rgba(4, 4, 4, 0.9);
  margin: 3px 290px;
  border-radius: 5px;
}

.about-developer {
  list-style-type: none;
  font-size: larger;
  margin-top: 19px;
}

.about-developer a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.about-developer a:hover {
  text-decoration: underline;
  color: rgb(253, 139, 75);
}

@media (max-width: 768px) {
  .about {
      font-size: 15px;
      padding: 15px;
  }

  .about-tabs {
      padding: 15px;
      border-bottom: 1px solid green;
  }

  .about-tabs li {
      padding: 10px 15px;
      margin-right: 3px;
      font-size: 14px;
  }

  .about-header, .about-subheader {
      font-size: 1.5em;
  }

  .about-tech-stack div {
      margin: 3px 10px;
  }

  .about-developer {
      font-size: medium;
  }
}