.searchResultContainer {
  display: flex;
  flex-wrap: wrap;
  max-height: 700px;
  margin-right: 10%;
  margin-left: 10%;
  overflow-y: auto;
  gap: 0;
  justify-content: space-evenly;
  border-radius: 15px;
  background-image: url("../../assets/searchResultBack.png");
}

.searchResult {
  position: relative;
  width: calc(25% - 30px);
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: 7px solid rgb(235, 234, 234);
}

.searchResult img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s, filter 0.5s;
  transform: scale(1.25);
}

.searchResult:hover img {
  filter: brightness(1.3);
  transform: scale(1.3);
}

.searchResult h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(250, 250, 250);
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  text-align: center;
  border-radius: 50px;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
  border: 4px solid transparent;
  transition: border 0.3s ease-in-out;
}

.searchResult:hover h2 {
  border: 4px solid rgb(250, 250, 250);
  background-color: rgba(0, 0, 0, 0.7);
}
