/* .MyRecipes-searchResult {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    position: relative; 
  }
  
  .MyRecipes-searchResult img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;  
  }
  
  .MyRecipes-deleteButton {
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: rgb(253, 139, 75);
    transition: all 0.1s ease;
    transform: scale(1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    position: absolute; 
    top: 10px; 
    right: 10px; 
  }
  
  .MyRecipes-deleteButton:hover {
    background-color: rgb(0, 182, 92);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .MyRecipes-ingredient {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
  }
  
  .MyRecipes-ingredient img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 3px solid green;
    object-fit: contain;
    padding: 5px;
    background-color: #fff;
  }
  
  .MyRecipes-instruction {
    margin-top: 10px;
  }
   */







